<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting propertyKey="@Properties.defaultBpm" title="@Strings.SettingDefaultBpm">
        <settingConfig type="numeric" min="5" max="240"/>
    </setting>
    <setting propertyKey="@Properties.maceWeightGrams" title="@Strings.SettingMaceWeight">
        <settingConfig type="numeric" min="0" max="50000"/>
    </setting>
    <setting propertyKey="@Properties.clubWeightGrams" title="@Strings.SettingClubWeight">
        <settingConfig type="numeric" min="0" max="50000"/>
    </setting>
    <setting propertyKey="@Properties.toneEnabled" title="@Strings.SettingToneEnabled">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.vibeEnabled" title="@Strings.SettingVibeEnabled">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.beatVibeStrength" title="@Strings.SettingBeatVibeStrength">
        <settingConfig type="numeric" min="10" max="100"/>
    </setting>
    <setting propertyKey="@Properties.softBeep" title="@Strings.SettingSoftBeep">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.customSets" title="@Strings.SettingCustomSets">
        <settingConfig type="numeric" min="1" max="50"/>
    </setting>
    <setting propertyKey="@Properties.customWorkSecs" title="@Strings.SettingCustomWork">
        <settingConfig type="numeric" min="10" max="3600"/>
    </setting>
    <setting propertyKey="@Properties.customRestSecs" title="@Strings.SettingCustomRest">
        <settingConfig type="numeric" min="0" max="3600"/>
    </setting>
    <setting propertyKey="@Properties.beatsPerRound" title="@Strings.SettingBeatsPerRound">
        <settingConfig type="numeric" min="1" max="16"/>
    </setting>
    <setting propertyKey="@Properties.beatsPerRound2" title="@Strings.SettingBeatsPerRound2">
        <settingConfig type="numeric" min="0" max="16"/>
    </setting>
    <setting propertyKey="@Properties.accentEnabled" title="@Strings.SettingAccentEnabled">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.cueMode" title="@Strings.SettingCueMode">
        <settingConfig type="list">
            <listEntry value="0">@Strings.CueRoundStarts</listEntry>
            <listEntry value="1">@Strings.CueEveryBeat</listEntry>
            <listEntry value="2">@Strings.CueCycleTop</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.motionCapture" title="@Strings.SettingMotionCapture">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.smoothnessEnabled" title="@Strings.SettingSmoothnessEnabled">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.circleShows" title="@Strings.SettingCircleShows">
        <settingConfig type="list">
            <listEntry value="0">@Strings.CircleRounds</listEntry>
            <listEntry value="1">@Strings.CircleHeartRate</listEntry>
        </settingConfig>
    </setting>
</settings>
